# Docker configs
OPENCLAW_VERSION_TAG=

# Caddy configs for setting up reverse proxy & domain certificate
INSTALLER_EMAIL=
REVERSE_PROXY_DOMAIN=
CF_API_TOKEN=
CA=

# Syncthing configs for update container syncing configs
REMOTE_DEVICE_ID=
VAULT_ID=

# OpenClaw configs
PERSONA_PATH=
OPENCLAW_GATEWAY_TOKEN=
OPENROUTER_API_KEY=
DISCORD_BOT_TOKEN=
