{
    email {env.INSTALLER_EMAIL}
    acme_dns cloudflare {env.CF_API_TOKEN}
    acme_ca {env.CA}
}

[domain] {
    reverse_proxy openclaw:18789 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
    }
}